---
import list from "../../json/instances.json";
import moderationMaps from "../../json/mmaps.json";

function getMod(s) {
  let r = s;
  moderationMaps.forEach(e => {
    if (s.startsWith("%%") && e.name == s.replaceAll("%%", "")) {
      r = e.text;
    }
  });
  return r;
}

function removeSub(s) {
  let d = undefined;
  let p = s.split(".");
  if (p.length == 3) {
    d = `${p[1]}.${p[2]}`;
  }
  if (d == undefined) {
    d = s;
  }
  return d;
}
---

<table>
  <tr>
    <th>
      <strong>Instance</strong>
    </th>
    <th>
      <strong>Description</strong>
    </th>
    <th>
      Moderation policies
    </th>
    <th>
      <strong>Special</strong> kinks
    </th>
    <th>
      Instance banner/logo/admin icon
    </th>
  </tr>
  {list.map((e) => (
    <tr>
      <td>
        <a href={`https://${e.instance}`} target="_blank" rel="nofollow">{e.instance}</a>
      </td>
      <td>
        {e.description}
      </td>
      <td>
        {getMod(e.moderation)}
      </td>
      <td>
        {e.special}
      </td>
      <td>
        <img style="width: 150px" src={e.logo.startsWith("http://") || e.logo.startsWith("https://") ? `/fedilist/${removeSub(e.instance).replace(".", "")}.${e.logo.split("/")[e.logo.split("/").length - 1].split(".")[1] == undefined || e.logo.split("/")[e.logo.split("/").length - 1].split(".")[1].startsWith("com") ? "png" : e.logo.split("/")[e.logo.split("/").length - 1].split(".")[1]}` : e.logo} alt={`${removeSub(e.instance)} Logo`} class={`instance-${removeSub(e.instance).replace(".", "")}`} />
      </td>
    </tr>
  ))}
</table>

<style>
  .instance-snowdintown {
    image-rendering: pixelated;
  }
</style>