---
import Navigation from "../components/navigation.astro";
import Layout from "../layouts/base.astro";
import Footer from "../components/footer.astro";
import Commento from "../components/commento.astro";
let description: string = "";
let title = "";
if (Astro.props.title === undefined) {
	title = Astro.props.frontmatter.title;
} else {
	title = Astro.props.title;
}
description = title;
try {
	if (Astro.props.frontmatter.description !== undefined) {
		description = Astro.props.frontmatter.description;
	}
} catch (e) {}
try {
	if (Astro.props.description !== undefined) {
		description = Astro.props.description;
	}
} catch (e) {}
let image = "";
if (Astro.props.frontmatter.image !== undefined) {
	image = "url(/blog/"+Astro.props.frontmatter.image+".png)";
} else {
	image = "url("+Astro.props.frontmatter.featured_image+")";
}
---
<style define:vars={{image}}>
    .article-meta {
        background: var(--image) #444 !important;
        background-size: cover !important;
        background-position: center center !important;
        background-blend-mode: multiply !important;
    }
</style>
<Layout title={title} description={description}>
	<Navigation />
	<div class="article-meta">
		<h1><span class="title">{title}</span></h1>
		<p><span class="date">Published {Astro.props.frontmatter.pubDate.split("T")[0]} | </span>
		<span class="author">Written by {Astro.props.frontmatter.author ? Astro.props.frontmatter.author : "koyu"}</span>
		<span class="tags"><span set:text={Astro.props.frontmatter.tags ? " | Tags: " : ""}></span> {Astro.props.frontmatter.tags ? Astro.props.frontmatter.tags.map((tag) => (
			<span class="tag"><a href={`/tags/${tag}`}>{tag}</a></span>
		)) : ""}</span></p>
	</div>
	<br>
	<slot />
	<br><br>
	<Commento />
	<Footer />
</Layout>
